<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>vue-todolist</title>
</head>
<body>
    
    <div id="app">

        <div class="container">

            <div class="todolist-wrapper">
                
                <div class="title">
                    <h1>Todo list</h1>
                </div>
                
                <div class="todo-wrap">
                    
                    <div class="new-task-wrapp">
                        <label for="today">Today :</label>
                        <input type="text" name="todo" v-model="newTask" @keyup.enter="taskPush">
                        <input type="button" value="AddTask" @click="taskPush">
                    </div>
                    
                    <ol>
                        <li :class="['task', (el.done === true) ? 'complete' : '']" 
                        v-for="(el, i) in todoList"
                        @click="toggleDone(el)">
                            {{ el.text }}
                            <span class="icon" @click="taskComplete(i)">
                                <i class="fas fa-times"></i>
                            </span>
                        </li>
                    </ol>
                    
                </div>

            </div>
    

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>